<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SimpleJspServletDB</display-name>
  <listener>
    <listener-class>ca.etsmtl.log210.DAO.InitialisationDaoFactory</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>connection.jsp</welcome-file>
  </welcome-file-list>
  
   <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>expresslivraison.montreal@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>log210log210log210</param-value>
    </context-param>
  
  
  <servlet>
    <servlet-name>UserConnection</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.UserConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserConnection</servlet-name>
    <url-pattern>/UserConnection</url-pattern>
  </servlet-mapping>
  
   <session-config>
   		<session-timeout>30</session-timeout>
   </session-config>
  
  <servlet>
    <servlet-name>Restriction</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.Restriction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Restriction</servlet-name>
    <url-pattern>/Restriction</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.Deconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>MyAccount</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.MyAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccount</servlet-name>
    <url-pattern>/MyAccount</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  
  
     <servlet>
    <servlet-name>Subscribe</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.Subscribe</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>Subscribe</servlet-name>
    <url-pattern>/Subscribe</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>UpdateUserAccount</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.UpdateUserAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserAccount</servlet-name>
    <url-pattern>/UpdateUserAccount</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CheckEmailNotUsed</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.CheckEmailNotUsed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmailNotUsed</servlet-name>
    <url-pattern>/CheckEmailNotUsed</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>ShowAllMenuResto</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.ShowAllMenuResto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllMenuResto</servlet-name>
    <url-pattern>/ShowAllMenuResto</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>AddMenuFormulaire</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.AddNewMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMenuFormulaire</servlet-name>
    <url-pattern>/AddMenuFormulaire</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>HomeRestaurateurManagement</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.HomeRestaurateurManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeRestaurateurManagement</servlet-name>
    <url-pattern>/HomeRestaurateurManagement</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>HomeOrderRestaurant</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.HomeOrderRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeOrderRestaurant</servlet-name>
    <url-pattern>/HomeOrderRestaurant</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ShowOrderRestaurant</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.ShowOrderRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderRestaurant</servlet-name>
    <url-pattern>/ShowOrderRestaurant</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>OrderUpdateState</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.OrderUpdateState</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>OrderUpdateState</servlet-name>
    <url-pattern>/OrderUpdateState</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>ShowOrderItems</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.ShowOrderItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderItems</servlet-name>
    <url-pattern>/ShowOrderItems</url-pattern>
  </servlet-mapping>
  
  
  
 <servlet>
    	<servlet-name>DeleteMenu</servlet-name>
    	<servlet-class>ca.etsmtl.log210.Controller.DeleteMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>DeleteMenu</servlet-name>
    	<url-pattern>/DeleteMenu</url-pattern>
  </servlet-mapping>
  
  <servlet>
    	<servlet-name>ModifyMenu</servlet-name>
    	<servlet-class>ca.etsmtl.log210.Controller.ModifyMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>ModifyMenu</servlet-name>
    	<url-pattern>/ModifyMenu</url-pattern>
  </servlet-mapping>
  
        <servlet>
    	<servlet-name>DeleteMeal</servlet-name>
    	<servlet-class>ca.etsmtl.log210.Controller.DeleteMeal</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>DeleteMeal</servlet-name>
    	<url-pattern>/DeleteMeal</url-pattern>
  </servlet-mapping> 
  
  
      <servlet>
    	<servlet-name>ShowAllMealMenu</servlet-name>
    	<servlet-class>ca.etsmtl.log210.Controller.ShowAllMealMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>ShowAllMealMenu</servlet-name>
    	<url-pattern>/ShowAllMealMenu</url-pattern>
  </servlet-mapping>  
  
      <servlet>
    	<servlet-name>NewMeal</servlet-name>
    	<servlet-class>ca.etsmtl.log210.Controller.NewMeal</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>NewMeal</servlet-name>
    	<url-pattern>/NewMeal</url-pattern>
  </servlet-mapping> 
  
  
  
  
  <servlet>
    <servlet-name>RestaurateurManagement</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.RestaurateurManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurateurManagement</servlet-name>
    <url-pattern>/RestaurateurManagement</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RestaurantManagement</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.RestaurantManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantManagement</servlet-name>
    <url-pattern>/RestaurantManagement</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SwitchRestaurantToNotVisible</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.SwitchRestaurantToNotVisible</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchRestaurantToNotVisible</servlet-name>
    <url-pattern>/SwitchRestaurantToNotVisible</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NewRestaurant</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.NewRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRestaurant</servlet-name>
    <url-pattern>/NewRestaurant</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetActiveResataurateur</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.GetActiveResataurateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetActiveResataurateur</servlet-name>
    <url-pattern>/GetActiveResataurateur</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SwitchRestaurantToVisible</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.SwitchRestaurantToVisible</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchRestaurantToVisible</servlet-name>
    <url-pattern>/SwitchRestaurantToVisible</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdateRestaurant</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.UpdateRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRestaurant</servlet-name>
    <url-pattern>/UpdateRestaurant</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>NewRestaurateur</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.NewRestaurateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRestaurateur</servlet-name>
    <url-pattern>/NewRestaurateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SwitchRestaurateurToVisible</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.SwitchRestaurateurToVisible</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchRestaurateurToVisible</servlet-name>
    <url-pattern>/SwitchRestaurateurToVisible</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SwitchRestaurateurToNotVisible</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.SwitchRestaurateurToNotVisible</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchRestaurateurToNotVisible</servlet-name>
    <url-pattern>/SwitchRestaurateurToNotVisible</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>UpdateRestaurateur</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.UpdateRestaurateurAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRestaurateur</servlet-name>
    <url-pattern>/UpdateRestaurateur</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>GetListRestaurantsWithoutRestaurateur</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.GetListRestaurantsWithoutRestaurateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetListRestaurantsWithoutRestaurateur</servlet-name>
    <url-pattern>/GetListRestaurantsWithoutRestaurateur</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetListVisibleRestaurants</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.GetListVisibleRestaurants</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetListVisibleRestaurants</servlet-name>
    <url-pattern>/GetListVisibleRestaurants</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>GetAllMenuResto</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.GetAllMenuResto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllMenuResto</servlet-name>
    <url-pattern>/GetAllMenuResto</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetMealsResaturant</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.GetMealsResaturant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMealsResaturant</servlet-name>
    <url-pattern>/GetMealsResaturant</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ShowOrderSummary</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.ShowOrderSummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderSummary</servlet-name>
    <url-pattern>/ShowOrderSummary</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProceedOrder</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.ProceedOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProceedOrder</servlet-name>
    <url-pattern>/ProceedOrder</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>OrdersNeededToBeDelivered</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.OrdersNeededToBeDelivered</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersNeededToBeDelivered</servlet-name>
    <url-pattern>/OrdersNeededToBeDelivered</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AcceptOrder</servlet-name>
    <servlet-class>ca.etsmtl.log210.Controller.AcceptOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptOrder</servlet-name>
    <url-pattern>/AcceptOrder</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>ApplicationFilter</filter-name>
    <filter-class>ca.etsmtl.log210.Controller.ApplicationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ApplicationFilter</filter-name>
    <url-pattern>/Restrict/*</url-pattern>
  </filter-mapping>
  
  </web-app>
